mods/

############################ 

backups/
crash-reports/
defaultoptions/
downloads/
dumps/
fancymenu_data/
fancymenu_setups/
local/
logs/
modernfix/
saves/
screenshots/
shaderpacks/
shrines-saves/
themes/
xaerowaypoints/
xaerowaypoints_backup032021/
xaeroworldmap/
essential/


############################

config/oculus.properties
config/xaerominimap_entities.json

############################


imgui.log
knownkeys.txt
ops.json
options.txt
patchouli_data.json
servers.dat
servers.dat_old
servers.essential.dat
usercache.json
usernamecache.json
minecraftinstance.json
.curseclient
config/ue/UEBase.toml
config/badmobs-common.toml
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-type-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/badmobs-common.toml
config/mgrb_extras.toml
config/modernfix-mixins.properties
config/spark/activity.json
