mods/

############################ 

backups/
crash-reports/
defaultoptions/
downloads/
dumps/
fancymenu_data/
fancymenu_setups/
local/
logs/
modernfix/
saves/
screenshots/
shaderpacks/
shrines-saves/
themes/
xaerowaypoints/
xaerowaypoints_backup032021/
xaeroworldmap/
essential/


############################


imgui.log
knownkeys.txt
ops.json
options.txt
patchouli_data.json
servers.dat
servers.dat_old
servers.essential.dat
usercache.json
usernamecache.json
minecraftinstance.json
.curseclient